@font-face
{	font-family: Roboto;
	src: url(./assets/Roboto.ttf)}

*
{	background:	rgb(255 255 255 / .0);}

::-webkit-scrollbar
{	width: 8px;
	background: rgb(0 0 0 / 0);}
::-webkit-scrollbar-thumb
{	background: rgb(30 136 229 / .87);}

:root
{	--txt: 255 235 221;}

input, button, textarea, select
{   font: inherit;
	color: inherit;}

/*----------------------------------------------------------------------------
	
----------------------------------------------------------------------------*/
body 
{	margin: 0;
	width: 100dvw; min-height: 100dvh;
	overflow: clip scroll;

	background: rgb(38 22 23);
	font-family: Roboto, sans-serif;}

#root
{	display: flex;
	justify-content: center;

	width: 100dvw;}

a
{	cursor: pointer;}

main
{	width: 100%; min-height: 100dvh;

	background:	rgb(26 17 17);
	color: rgb(var(--txt) / .87);
	
	@media (min-width: 480px) {
		max-width: 480px;
	}
}

main > section
{	padding: 0 16px;}

main > section:last-child
{	padding-bottom: 276px;}

main ul
{	list-style: none;
	padding: 0;

	display: flex;
	flex-direction: column;
}

main ul > li
{	display: flex;
	align-items: center;
	gap: 8px;
	user-select: none;

	backdrop-filter: brightness(110%);

	margin: 0 0 6px;
	height: 64px;
	padding: 0 0 0 16px;
	border-radius: 6px;}

.playlist > li, .menulist > li, .editlist > li
{	& > span:first-child
	{	transition-property: filter, color;
		transition-duration: .3s, .3s;
		cursor: pointer;

		filter: grayscale(0);
		display: flex;
		justify-content: center; align-items: center;
		overflow: clip;

		width: 40px; height: 40px;
		border-radius: 50%;

		background: radial-gradient(circle at 0 0, rgb(160 92 59 / .6), rgb(102 23 42 / .87));
		font: 800 16px Roboto, sans-serif;

		&:hover > img
		{	transform: rotateZ(480deg);}}
	
	& > h4
	{	flex: 1;}

	&
	{	order: -1;}
	&.disabled
	{	order: unset;}

	&.disabled > span:first-child
	{	filter: grayscale(1);
		color: rgb(var(--txt) / .38);}
	
	& > a
	{	opacity: .6;
		cursor: pointer;
		width: 32px; height: 48px;
		background-size: 24px !important;}
	
	& > a.enable
	{	padding: 0 16px;
		background: url(./assets/disable.svg) center no-repeat;}
	&.disabled > a.enable
	{	background: url(./assets/enable.svg) center no-repeat;}

	& > a.delete
	{	padding-right: 16px;
		background: url(./assets/delete.svg) center no-repeat;
		opacity: .38;}}

.moodlist > li
{	flex-direction: column;
	justify-content: center; align-items: center;
	overflow: clip;

	padding: 0;

	font-size: 24px;
	font-weight: 600;

	& > h4
	{	position: absolute;
		left: 8px; top: 4px; z-index: 300;

		align-self: flex-start;

		font-size: 14px;
		color: rgb(var(--txt) / .6);}

	& > div
	{	position: absolute;
		left: 0; top: 0; z-index: -10;
		height: 100%;

		background: rgb(255 255 255 / .1);}

	/* & > div.user
	{	width: 75%;} */
	& > div.actual
	{	transition: width .3s;
		width: 0;}

	/* &:hover > div.user
	{	width: 16%;} */
	/* &:hover > div.actual
	{	width: 20%;} */
}

.menulist > li
{	& > span:first-child
	{	justify-content: flex-start; align-items: start;
		background: none;
		background-size: cover !important;

		& > img
		{	transition: transform .6s;

			width: 22px; height: 22px;
			padding: 2px;
			border-radius: 50%;
			
			background: rgb(26 17 17);}}}

#setActivity, #setActivityTag
{	& > span:first-child
	{	background: url('./assets/activity.svg');}}
#setMood, #setMoodTag
{	& > span:first-child
	{	background: url('./assets/mood.svg');}}
#reports
{	& > span:first-child
	{	background: url('./assets/explore.svg');}}
#download
{	& > span:first-child
	{	background: url('./assets/download.svg');}}
header
{	padding-top: 24px;
	height: 64px;
	text-align: center;}

#root > nav
{	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly; align-items: center;
	gap: 1px;

	position: fixed;
	bottom: 0; z-index: 300;

	width: 100dvw; height: 64px;
	padding: 0 calc(calc(100dvw - 480px)/2);

	background:	rgb(16 16 16);
	backdrop-filter: blur(12px);

	& > a
	{	display: flex;
		justify-content: center; align-items: center;

		flex: 1;
		height: 100%;

		img
		{	opacity: .87;
			width: 40px; height: 40px;}}}

.ribbon
{	box-sizing: border-box;
	position: fixed;
	bottom: 0; z-index: 200;

	width: 100dvw;
	padding: 0 calc(calc(100dvw - 480px)/2 + 24px) 0;

	backdrop-filter: brightness(150%) blur(24px);
	color: rgb(158 129 122);
	color: rgb(255 235 221 / .6);
	text-shadow: 0 0 8px rgb(0 0 0 / .6);

	text-align: center;

	& > nav
	{	display: flex;
		justify-content: center; align-items: center;
		gap: 16px;

		& > a
		{	display: flex;
			justify-content: center; align-items: center;

			width: 80px; height: 80px;
			border-radius: 20px;}}}

#player
{	padding-top: 24px;
	padding-bottom: 88px;

	h4 {
		font-size: 16px;
	}

	h3 {
		font-size: 32px;
	}
}

@keyframes clockRotate {
	0% 		{ transform: rotate(0);}
	100%	{ transform: rotate(360deg);}
}

#clock
{	width: 48px;	
	animation: clockRotate 4s linear infinite both;
	animation-play-state: paused;}

#clock.on
{	animation-play-state: running;}

#editor
{	padding-bottom: 64px;
	
	& > nav
	{	justify-content: flex-end;}}
	
#submit
{	padding-bottom: 64px;}

#backdrop
{	position: fixed;
	box-sizing: border-box;
	overflow: clip;

	display: flex;
	justify-content: center;

	left: 0; top: 0; z-index: 1000;
	width: 100dvw; height: 100dvh;
	padding: 24px 16px;

	backdrop-filter: blur(16px);
	background: rgb(0 0 0 / .38);
	color: rgb(229 210 198 / .87);

	& > div
	{	box-sizing: border-box;
		overflow: clip auto;

		display: flex;
		flex-direction: column;
		align-items: stretch;

		width: 100%; max-width: calc(480px - 32px);
		height: 100%;
		padding: 12px 12px 88px;
		border-radius: 12px;

		background: rgb(41 38 44);

		& > *
		{	margin-bottom: 8px;}

		& > h2
		{	font-size: 16px;
			color: rgb(229 210 198 / .6);}}

	& > nav
	{	position: fixed;
		align-self: flex-end;
		overflow: clip;

		display: flex;
		justify-content: flex-end;

		margin-bottom: 12px;
		width: calc(100% - 32px - 24px); max-width: calc(480px - 32px - 24px);
		height: 64px;
		border-radius: 8px;

		backdrop-filter: brightness(150%) blur(24px);

		& > a
		{	display: flex;
			align-items: center;

			height: 100%;
			padding: 0 24px 0 0;

			color: rgb(255 255 255 / .87);
			font-variant: small-caps;
			font-weight: 600;
			font-size: 24px;}}

	textarea
	{	box-sizing: border-box;
		resize: none;
		width: 100%;
		height: 108px;
		border: 1px solid rgb(110 110 114);
		border-radius: 4px;

		background: rgb(33 34 35);
		color: inherit;
	
		font: inherit;
		font-weight: 200;}

	input
	{	box-sizing: border-box;

		border: 1px solid rgb(110 110 114);
		border-radius: 4px;
		padding: 2px 4px;

		background: rgb(33 34 35);
		color: inherit;
		font: inherit;}

	.editTitle
	{	font-size: 24px;
		font-weight: 200;}

	.editRange
	{	display: flex;
		justify-content: space-evenly;

		input
		{	box-sizing: border-box;
			font-weight: 200;
			width: 100%;}

		& > div
		{	flex: 1;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;}}

	.tasktaglist 
	{	list-style: none;

		display: flex;
		flex-wrap: wrap;
		gap: 6px;

		margin: 0;
		padding: 0;

		& > li
		{	box-sizing: border-box;

			padding: 4px 8px;
			border-radius: 4px;
			background: rgb(99 82 115 / .38);
			filter: saturate(0);}

		& > li.on
		{	order: -1;
			filter: saturate(1);
			background: rgb(99 82 115);
			opacity: 1;}
	}

	.metrictaglist 
	{	list-style: none;

		display: flex;
		flex-wrap: wrap;
		gap: 6px;

		margin: 0;
		padding: 0;

		& > li
		{	box-sizing: border-box;

			padding: 4px 8px;
			border-radius: 4px;
			background: rgb(90 109 61 / .38);
			filter: saturate(0);}

		& > li.on
		{	order: -1;
			filter: saturate(1);
			background: rgb(90 109 61);}
	}
	
}

/*																			*/
h1, h2, h3, h4
{	margin: 0;
	font-weight: 400;}

